@tailwind base;

@tailwind components;

.iselect {
  @apply block appearance-none w-full bg-gray-400 border 
  border-gray-200 text-gray-700 py-1 px-4 pr-8  
  rounded leading-tight;
}

.iselect:focus {
  @apply outline-none bg-white border-gray-500;
}

.iinput {
  @apply appearance-none block w-full bg-gray-200
       text-gray-700 border border-gray-400 rounded py-1 px-4 
       leading-tight ;
}

.iinput:focus {
  @apply outline-none bg-white;
}

@tailwind utilities;



.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}
